
/* Your CSS Code here. */
*{
margin: 0px;
padding: 0px;
}

.container{
    display : flex;
    justify-content: center;
    flex-wrap: wrap;   
}

 .container .item {
   height : 100px;
   width:16%;
   background-color: green; 
}

.container .item .item1{
    background-color: red ; 
    order:10;
}

.container .item .item2{
    background-color: blue;
    order:11;
}